@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* colors
-------------------------------*/
html {
  color: #1B224C;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
  html {
    font-size: 0.78125vw;
  }
}
@media screen and (max-width: 799px) {
  html {
    font-size: 10px;
  }
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.c-reception {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.c-reception__date {
  font-size: 1.2rem;
}
.c-reception__num {
  margin-top: 0.9rem;
  font-size: 1.6rem;
}
.c-reception__num--icon {
  display: inline-block;
  width: 1rem;
  margin-right: 0.5rem;
}

.c-header-button {
  font-size: 1.4rem;
  color: #fff;
  border-radius: 0.5rem;
}
.c-header-button--request {
  background: #F5A623;
  padding: 1.8rem 4.3rem;
}
.c-header-button--inquiry {
  background: #1B224C;
  padding: 1.8rem 2.6rem;
}

.c-request-button {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  background: #F5A623;
}
@media screen and (max-width: 799px) {
  .c-request-button {
    font-size: 1.4rem;
  }
}
.c-request-button--top {
  max-width: 26rem;
  height: 6rem;
  line-height: 6rem;
  border-radius: 3rem;
}
@media screen and (max-width: 799px) {
  .c-request-button--top {
    max-width: 22rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 2.5rem;
  }
}
.c-request-button--footer {
  max-width: 28rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 2.5rem;
}
@media screen and (max-width: 799px) {
  .c-request-button--footer {
    max-width: 22rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 2rem;
  }
}

.c-contact-link {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: underline;
}
@media screen and (max-width: 799px) {
  .c-contact-link {
    font-size: 1.4rem;
  }
}

.c-sub-title {
  font-size: 3.6rem;
  font-weight: 600;
}
@media screen and (max-width: 799px) {
  .c-sub-title {
    font-size: 2.4rem;
  }
}
.c-sub-title--center {
  text-align: center;
}
.c-sub-title--navy {
  color: #1B224C;
}
.c-sub-title--white {
  color: #fff;
}
.c-sub-title--small {
  font-size: 3.2rem;
}
@media screen and (max-width: 799px) {
  .c-sub-title--small {
    font-size: 2.2rem;
  }
}

.c-blog-item__link {
  display: flex;
}
@media screen and (max-width: 799px) {
  .c-blog-item__link {
    display: block;
  }
}
.c-blog-item__link:hover {
  background: #eee;
}
.c-blog-item__img-box {
  position: relative;
}
.c-blog-item__img-tag {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #1B224C;
  color: #fff;
}
.c-blog-item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.c-blog-item__contents {
  display: flex;
  flex-direction: column;
}

.c-top-view {
  padding: 9.3rem 0;
}
@media screen and (max-width: 799px) {
  .c-top-view {
    padding: 6rem 0;
  }
}
.c-top-view__title {
  font-size: 3.2rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 799px) {
  .c-top-view__title {
    font-size: 2.7rem;
    font-weight: 500;
  }
}

.c-bread-crump {
  background: #F8F8F8;
}
.c-bread-crump__link {
  font-size: 1.2rem;
  padding: 1.9rem 0;
}

.c-summary {
  padding-bottom: 9rem;
}
.c-summary__title {
  margin-top: 5.8rem;
}
@media screen and (max-width: 799px) {
  .c-summary__title {
    margin-top: 4rem;
  }
}
.c-summary__wrap {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 799px) {
  .c-summary__wrap {
    flex-direction: column;
    margin-top: 3rem;
  }
}
.c-summary__item {
  width: 100%;
  max-width: 29rem;
  padding: 3.3rem 0;
  font-size: 2.2rem;
  color: #fff;
  text-align: center;
  background: #1B224C;
}
@media screen and (max-width: 799px) {
  .c-summary__item {
    font-size: 1.8rem;
    padding: 2.4rem 0;
  }
}
.c-summary__plus {
  display: inline-block;
  position: relative;
  width: 2.7rem;
  height: 2.7rem;
  margin: 0 3.55rem;
  flex-shrink: 0;
}
@media screen and (max-width: 799px) {
  .c-summary__plus {
    margin: 1.8rem;
  }
}
.c-summary__plus:before, .c-summary__plus:after {
  display: block;
  content: "";
  background-color: #1B224C;
  position: absolute;
  width: 2.7rem;
  height: 0.2rem;
  top: 1.25rem;
  left: 0;
}
.c-summary__plus:before {
  width: 0.2rem;
  height: 2.7rem;
  top: 0;
  left: 1.25rem;
}
.c-summary__text {
  margin-top: 4.6rem;
  font-size: 1.6rem;
  line-height: 1.7;
}
@media screen and (max-width: 799px) {
  .c-summary__text {
    line-height: 1.5;
    font-size: 1.5rem;
  }
}

.c-plans__cards {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 799px) {
  .c-plans__cards {
    overflow-x: scroll;
    margin-top: 4rem;
  }
}
.c-plans__card {
  width: 100%;
  max-width: 22rem;
  text-align: center;
}
@media screen and (max-width: 799px) {
  .c-plans__card {
    min-width: 20rem;
    margin-right: 0.4rem;
  }
}
.c-plans__header {
  padding: 2.1rem 0;
  background: #1B224C;
}
@media screen and (max-width: 799px) {
  .c-plans__header {
    padding: 1.4rem 0;
  }
}
.c-plans__header-txt {
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 799px) {
  .c-plans__header-txt {
    font-size: 1.5rem;
  }
}
.c-plans__header-txt:nth-child(2) {
  margin-top: 2rem;
}
@media screen and (max-width: 799px) {
  .c-plans__header-txt:nth-child(2) {
    margin-top: 1rem;
  }
}
.c-plans__header--rec {
  padding: 2.2rem 0;
  background: #F5A623;
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 799px) {
  .c-plans__header--rec {
    padding: 1.4rem 0;
  }
}
.c-plans__body {
  height: 100%;
  max-height: 41.4rem;
  border: 0.1rem solid #1B224C;
  border-top: none;
  padding: 0 2rem;
}
@media screen and (max-width: 799px) {
  .c-plans__body {
    height: 36rem;
    padding: 0 1rem;
  }
}
.c-plans__price {
  padding-top: 3rem;
  font-size: 2.5rem;
}
@media screen and (max-width: 799px) {
  .c-plans__price {
    padding-top: 2rem;
    font-size: 2.4rem;
  }
}
.c-plans__price--rec {
  color: #F5A623;
}
.c-plans__attention {
  padding-top: 1.4rem;
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .c-plans__attention {
    padding-top: 1rem;
    font-size: 1.4rem;
  }
}
.c-plans__list-item {
  padding-top: 0.5rem;
  font-size: 1.6rem;
  line-height: 1.9;
}
@media screen and (max-width: 799px) {
  .c-plans__list-item {
    font-size: 1.4rem;
    line-height: 1.5;
    padding-top: 1rem;
  }
}
.c-plans__list-item:first-child {
  padding-top: 3.8rem;
}
.c-plans__check {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 1.2rem;
  margin-right: 1.1rem;
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
  border-right: 3px solid #1B224C;
  border-bottom: 3px solid #1B224C;
}

.c-archives__title {
  margin-top: 5.5rem;
}
@media screen and (max-width: 799px) {
  .c-archives__title {
    margin-top: 4rem;
  }
}
.c-archives__list {
  margin-top: 6rem;
}
@media screen and (max-width: 799px) {
  .c-archives__list {
    margin-top: 4rem;
  }
}
.c-archives__item {
  margin-top: 6.1rem;
}
@media screen and (max-width: 799px) {
  .c-archives__item {
    margin-top: 3rem;
  }
}
.c-archives__item:first-child {
  margin-top: 0;
}
.c-archives__item:nth-child(2) {
  margin-top: 9.3rem;
}
@media screen and (max-width: 799px) {
  .c-archives__item:nth-child(2) {
    margin-top: inherit;
  }
}
.c-archives__img-box {
  width: 100%;
  max-width: 24rem;
  margin-right: 5rem;
  min-height: 14.8rem;
  position: relative;
}
@media screen and (max-width: 799px) {
  .c-archives__img-box {
    margin: 0 auto;
    max-width: none;
  }
}
@media screen and (max-width: 799px) {
  .c-archives__img-box img {
    object-fit: cover;
  }
}
.c-archives__tag {
  padding: 0.8rem 1.3rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 799px) {
  .c-archives__tag {
    padding: 0.6rem 1rem;
    font-size: 1.1rem;
  }
}
.c-archives__date {
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .c-archives__date {
    font-size: 1.2rem;
  }
}
.c-archives__item-title {
  margin-top: 1.2rem;
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: underline 0.2rem #1B224C;
}
@media screen and (max-width: 799px) {
  .c-archives__item-title {
    font-size: 2rem;
  }
}
.c-archives__description {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (max-width: 799px) {
  .c-archives__description {
    font-size: 1.4rem;
    line-height: 1.3;
  }
}

.c-pagination {
  margin-top: 10.9rem;
  text-align: center;
  font-size: 2rem;
}
@media screen and (max-width: 799px) {
  .c-pagination {
    margin-top: 6rem;
    font-size: 1.6em;
  }
}

.c-blog-contents__tag {
  display: inline-block;
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
  color: #fff;
  background: #1B224C;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__tag {
    padding: 0.7em 1.8rem;
  }
}
.c-blog-contents__title {
  font-size: 2.8rem;
  font-weight: bold;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__title {
    font-size: 2.2rem;
  }
}
.c-blog-contents__h2 {
  margin-top: 4rem;
  font-size: 2.6rem;
  font-weight: bold;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__h2 {
    font-size: 2rem;
  }
}
.c-blog-contents__h3 {
  padding-left: 1rem;
  border-left: 0.4rem solid #1B224C;
  line-height: 1.3;
  font-size: 2.2rem;
  font-weight: bold;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__h3 {
    font-size: 1.8rem;
    line-height: 1.2;
  }
}
.c-blog-contents__data-wrap {
  display: flex;
  margin-top: 2.5rem;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__data-wrap {
    margin-top: 2rem;
  }
}
.c-blog-contents__share-list {
  display: flex;
}
.c-blog-contents__share-item {
  margin-right: 0.4rem;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  color: #fff;
}
.c-blog-contents__share-icon {
  margin-right: 0.4rem;
}
.c-blog-contents__share-item--fb {
  background: #305097;
}
.c-blog-contents__share-item--sns {
  background: #305097;
}
.c-blog-contents__share-item--tw {
  background: #00ACED;
}
.c-blog-contents__date {
  margin-right: 0;
  margin-left: auto;
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__date {
    font-size: 1.4rem;
  }
}
.c-blog-contents__img {
  width: 100%;
  height: 0;
  position: relative;
}
.c-blog-contents__img--main {
  padding-bottom: 37rem;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__img--main {
    padding-bottom: 62%;
  }
}
.c-blog-contents__img--sub {
  padding-bottom: 33.5rem;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__img--sub {
    padding-bottom: 57%;
  }
}
.c-blog-contents__img--single {
  max-width: 40rem;
  padding-bottom: 25rem;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__img--single {
    padding-bottom: 62.5%;
  }
}
.c-blog-contents__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c-blog-contents__text {
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__text {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}
.c-blog-contents__quote-area {
  margin-top: 3rem;
  padding: 2.6rem;
  background: #F8F8F8;
  display: flex;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__quote-area {
    padding: 2rem;
  }
}
.c-blog-contents__quote-icon {
  max-width: 4.6rem;
  width: 100%;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__quote-icon {
    max-width: 3rem;
  }
}
.c-blog-contents__quote-text {
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__quote-text {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}
.c-blog-contents__list {
  margin-top: 3rem;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__list {
    margin-top: 2.4rem;
  }
}
.c-blog-contents__list-item {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-left: 3.2rem;
  text-indent: -3.2rem;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__list-item {
    font-size: 1.4rem;
  }
}
.c-blog-contents__list-item::before {
  content: "";
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 2.1rem;
  border-radius: 50%;
  background: #F5A623;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__list-item::before {
    width: 0.8rem;
    height: 0.8rem;
  }
}
.c-blog-contents__link {
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.8rem;
  color: #F5A623;
  text-decoration: underline;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__link {
    font-size: 1.4rem;
  }
}
.c-blog-contents__link--single {
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .c-blog-contents__link--single {
    font-size: 1.2rem;
  }
}

.c-recommend {
  /* img --------------------*/
  /* contents --------------------*/
}
.c-recommend__title {
  font-size: 2.6rem;
  font-weight: bold;
}
@media screen and (max-width: 799px) {
  .c-recommend__title {
    font-size: 2.2rem;
  }
}
.c-recommend__list {
  margin-top: 3.4rem;
}
@media screen and (max-width: 799px) {
  .c-recommend__list {
    margin-top: 3rem;
  }
}
.c-recommend__item {
  margin-top: 2.8rem;
}
.c-recommend__item:first-child {
  margin-top: 0;
}
.c-recommend__img-box {
  width: 100%;
  max-width: 21rem;
  height: 0;
  padding-bottom: 12.81rem;
  margin-right: 3.2rem;
}
@media screen and (max-width: 799px) {
  .c-recommend__img-box {
    max-width: none;
    padding-bottom: 61%;
  }
}
.c-recommend__tag {
  padding: 0.8rem 1.3rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 799px) {
  .c-recommend__tag {
    padding: 0.6rem 1.1rem;
    font-size: 1.1rem;
  }
}
.c-recommend__date {
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .c-recommend__date {
    font-size: 1.4rem;
  }
}
.c-recommend__description {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.6;
  text-decoration: underline;
}
@media screen and (max-width: 799px) {
  .c-recommend__description {
    font-size: 1.6em;
    line-height: 1.4;
    margin-top: 1rem;
  }
}

.c-relation {
  margin-top: 6rem;
}
@media screen and (max-width: 799px) {
  .c-relation {
    margin-top: 4rem;
  }
}
.c-relation__title {
  font-size: 2.1rem;
  text-align: center;
  padding: 1.9rem 0;
  color: #fff;
  background: #1B224C;
}
@media screen and (max-width: 799px) {
  .c-relation__title {
    font-size: 1.8rem;
  }
}
.c-relation__item {
  margin-top: 4rem;
  display: flex;
}
@media screen and (max-width: 799px) {
  .c-relation__item {
    margin-top: 3rem;
  }
}
.c-relation__item:first-child {
  margin-top: 3rem;
}
.c-relation__img {
  width: 100%;
  max-width: 10rem;
  height: 0;
  padding-bottom: 7rem;
  margin-right: 1.7rem;
  background: #d5d5d5;
  position: relative;
}
.c-relation__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.c-relation__blog-title {
  font-size: 1.2rem;
  line-height: 2;
  margin-top: -0.4rem;
  text-decoration: underline;
  flex: 1;
}
.c-relation__category {
  margin-top: 3.2rem;
}
@media screen and (max-width: 799px) {
  .c-relation__category {
    padding-bottom: 3rem;
  }
}
.c-relation__category-item {
  margin-top: 1.4rem;
  font-size: 1.6rem;
  font-weight: bold;
}
@media screen and (max-width: 799px) {
  .c-relation__category-item {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: normal;
  }
}
.c-relation__category-item::before {
  content: "・";
  display: inline;
}
.c-relation__category-item:first-child {
  margin-top: 0;
}

.c-news-summary {
  padding-bottom: 4.6rem;
}
@media screen and (max-width: 799px) {
  .c-news-summary {
    padding-bottom: 3rem;
  }
}
.c-news-summary__title {
  margin-top: 5.6rem;
}
.c-news-summary__list {
  margin-top: 4.2rem;
}
.c-news-summary__hr {
  color: #d5d5d5;
}
.c-news-summary__item {
  margin: 2.24rem 0;
  display: flex;
}
@media screen and (max-width: 799px) {
  .c-news-summary__item {
    display: block;
  }
}
.c-news-summary__date {
  margin-right: 5.1rem;
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .c-news-summary__date {
    font-size: 1.3rem;
  }
}
.c-news-summary__description {
  max-width: 73.5rem;
  font-size: 1.6rem;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 799px) {
  .c-news-summary__description {
    font-size: 1.4rem;
    margin-top: 0.6rem;
  }
}

.c-form__text {
  font-size: 1.6rem;
  line-height: 1.68;
}
@media screen and (max-width: 799px) {
  .c-form__text {
    font-size: 1.4em;
    line-height: 1.5;
  }
}
.c-form__text--bold {
  font-weight: bold;
}
.c-form__placeholder::placeholder {
  color: #B4B4B4;
}
.c-form__label {
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .c-form__label {
    font-size: 1.4em;
  }
}
.c-form__str-input {
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border: 0.05rem solid #1B224C;
}
.c-form__select-input {
  width: 2rem;
  height: 2rem;
}
.c-form__textarea {
  height: 24rem;
  padding: 1.4rem 2.2rem;
  font-size: 1.2em;
  border: 0.05rem solid #1B224C;
  position: relative;
}
@media screen and (max-width: 799px) {
  .c-form__textarea {
    height: 18rem;
  }
}
.c-form__textarea::placeholder {
  position: absolute;
}
.c-form__policy-text {
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .c-form__policy-text {
    font-size: 1.4rem;
  }
}
.c-form__policy-label {
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .c-form__policy-label {
    font-size: 1.4rem;
  }
}
.c-form__policy-input {
  width: 2rem;
  height: 2rem;
}
@media screen and (max-width: 799px) {
  .c-form__policy-input {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.c-form__submit-text {
  padding: 1.7rem 6.8rem;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 0.5rem;
  background: #1B224C;
}
@media screen and (max-width: 799px) {
  .c-form__submit-text {
    padding: 1.2rem 5rem;
    font-size: 1.4rem;
  }
}

.c-hamburger {
  z-index: 1;
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
  .c-hamburger {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .c-hamburger {
    display: none;
  }
}
.c-hamburger__button {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  z-index: 2;
}
.c-hamburger__bar {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #1B224C;
  width: 45%;
}
.c-hamburger__bar--1st {
  top: 15px;
}
.c-hamburger__bar--2nd {
  top: 23px;
}
.c-hamburger__bar--3rd {
  top: 31px;
}
.c-hamburger__button.active .c-hamburger__bar--1st {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  background: #fff;
}
.c-hamburger__button.active .c-hamburger__bar--2nd {
  opacity: 0;
}
.c-hamburger__button.active .c-hamburger__bar--3rd {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  background: #fff;
}
.c-hamburger__contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background: rgba(0, 0, 0, 0.9);
  transition: ease 0.4s;
}
.c-hamburger__contents.active {
  transform: translateX(0);
}
.c-hamburger__inner {
  margin-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.c-hamburger__menu-item {
  margin-top: 6vh;
}
.c-hamburger__nav {
  color: #fff;
}
.c-hamburger__nav-item {
  font-size: 1.8rem;
}
.c-hamburger__menu-button {
  min-width: 20rem;
  padding: 1.8rem 0;
}

.c-main-view__title {
  margin-top: 11.4rem;
  font-size: 4.8rem;
  font-weight: bold;
}
@media screen and (max-width: 799px) {
  .c-main-view__title {
    font-size: 3.6rem;
  }
}
.c-main-view__text {
  margin-top: 1.5rem;
  line-height: 1.72;
  font-size: 1.8rem;
}
@media screen and (max-width: 799px) {
  .c-main-view__text {
    margin-top: 2rem;
    font-size: 1.4rem;
  }
}
.c-main-view__btn {
  margin-top: 4.4rem;
}
.c-main-view__link {
  margin-top: 2.2rem;
}

.c-catch-copy__title {
  margin-top: 6.3rem;
}
.c-catch-copy__text-wrap {
  display: flex;
  justify-content: center;
  max-width: 90rem;
  margin-top: 4.7rem;
  font-size: 1.8rem;
  color: #fff;
}
@media screen and (max-width: 799px) {
  .c-catch-copy__text-wrap {
    display: block;
  }
}
.c-catch-copy__text {
  line-height: 2.2;
  margin-right: 5.7rem;
}
@media screen and (max-width: 799px) {
  .c-catch-copy__text {
    margin-right: 0;
    margin-top: 2rem;
    line-height: 1.75;
  }
}
.c-catch-copy__text:last-child {
  margin-right: 0;
}
.c-catch-copy__answer {
  background: #fff;
  margin-top: 7.1rem;
  margin-bottom: 5.4rem;
  padding: 1.2rem 1.6rem;
}
@media screen and (max-width: 799px) {
  .c-catch-copy__answer {
    padding: 0.6rem 0.9rem;
  }
}
.c-catch-copy__answer-inner {
  border: 0.5rem solid #1B224C;
  padding-bottom: 2.4rem;
}
@media screen and (max-width: 799px) {
  .c-catch-copy__answer-inner {
    padding: 0 1rem 2rem;
    border-width: 0.4rem;
  }
}
.c-catch-copy__answer-title {
  margin-top: 0.8rem;
  line-height: 1.4;
}
.c-catch-copy__answer-title span {
  background: linear-gradient(transparent 75%, #F5A623 0%);
}
.c-catch-copy__answer-text {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 1.7;
}
@media screen and (max-width: 799px) {
  .c-catch-copy__answer-text {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

.c-concept {
  /* contents
  ------------------------------*/
  /* img
  ------------------------------*/
  /* plan
  ------------------------------*/
}
.c-concept__title {
  margin-top: 5.8rem;
}
@media screen and (max-width: 799px) {
  .c-concept__title {
    margin-top: 5rem;
  }
}
.c-concept__item {
  display: flex;
  margin-top: 5.1rem;
}
@media screen and (max-width: 799px) {
  .c-concept__item {
    flex-direction: column-reverse;
    position: relative;
    margin-top: 4rem;
  }
}
.c-concept__item:first-child {
  margin-top: 5.3rem;
}
@media screen and (max-width: 799px) {
  .c-concept__item:first-child {
    margin-top: 4.2rem;
  }
}
.c-concept__item:nth-child(2) {
  flex-direction: row-reverse;
}
.c-concept__contents {
  flex: 1;
  margin-right: 5rem;
}
@media screen and (max-width: 799px) {
  .c-concept__contents {
    margin-right: 0;
    padding: 2rem;
    z-index: 2;
  }
}
.c-concept__item:nth-child(2) .c-concept__contents {
  margin-right: 0;
  margin-left: 5rem;
}
@media screen and (max-width: 799px) {
  .c-concept__item:nth-child(2) .c-concept__contents {
    margin-left: 0;
  }
}
.c-concept__item-tag {
  width: 9rem;
  height: 3rem;
  line-height: 3rem;
  background: #F5A623;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 799px) {
  .c-concept__item-tag {
    width: 7rem;
    height: 2.8rem;
    line-height: 2.8rem;
  }
}
.c-concept__item-ttl {
  margin-top: 2.9rem;
  font-size: 2.6rem;
  line-height: 1.5;
}
@media screen and (max-width: 799px) {
  .c-concept__item-ttl {
    margin-top: 2.4rem;
    font-size: 2.2rem;
    line-height: 1.25;
  }
}
.c-concept__item-txt {
  margin-top: 3rem;
  font-size: 1.6rem;
  line-height: 1.7;
}
@media screen and (max-width: 799px) {
  .c-concept__item-txt {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
.c-concept__item:nth-child(3) .c-concept__item-txt {
  margin-top: 3.6rem;
}
.c-concept__img {
  width: 38.8%;
  height: 0;
  padding-bottom: 26.068%;
  position: relative;
}
@media screen and (max-width: 799px) {
  .c-concept__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.c-concept__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 799px) {
  .c-concept__img img {
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    z-index: 1;
  }
}
.c-concept__plan {
  margin-top: 9.8rem;
  padding: 6rem 0 5.3rem;
  background: url("../img/price.jpg") center center/cover;
  color: #fff;
}
@media screen and (max-width: 799px) {
  .c-concept__plan {
    margin-top: 5rem;
    padding: 3rem;
  }
}
.c-concept__plan-inr {
  text-align: center;
}
.c-concept__plan-ttl {
  font-size: 2.6rem;
}
@media screen and (max-width: 799px) {
  .c-concept__plan-ttl {
    font-size: 2.4rem;
  }
}
.c-concept__plan-link {
  display: inline-block;
  width: 20rem;
  height: 5rem;
  line-height: 5rem;
  margin-top: 2.6rem;
  border: 1px solid #fff;
  border-radius: 2.5rem;
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .c-concept__plan-link {
    width: 18rem;
    height: 4.6rem;
    line-height: 4.6rem;
    border-radius: 2.3rem;
    font-size: 1.4rem;
  }
}

.c-case__title {
  padding-top: 5.5rem;
}
.c-case__card-wrap {
  display: flex;
  margin-top: 12.7rem;
}
@media screen and (max-width: 799px) {
  .c-case__card-wrap {
    display: block;
    margin-top: 4rem;
  }
}
.c-case__card {
  margin-right: 3.1rem;
}
@media screen and (max-width: 799px) {
  .c-case__card {
    max-width: 40rem;
    margin: 0 auto;
  }
}
.c-case__card:last-child {
  margin-right: 0;
}
@media screen and (max-width: 799px) {
  .c-case__card:last-child {
    margin: 0 auto;
  }
}
.c-case__message {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.7;
}
@media screen and (max-width: 799px) {
  .c-case__message {
    margin-top: 4rem;
  }
}
.c-case__img {
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 28rem;
  height: 0;
  padding-bottom: 61%;
  margin-top: 0.9rem;
}
@media screen and (max-width: 799px) {
  .c-case__img {
    margin: 0 auto;
    max-width: 22rem;
    padding-bottom: 45%;
    margin-top: 1rem;
  }
}
.c-case__img img {
  height: 82%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.c-case__status {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 799px) {
  .c-case__status {
    margin-top: 1rem;
    font-size: 1.4em;
  }
}
.c-case__job {
  width: 10rem;
  margin-right: 0.8rem;
  padding: 0.6rem 1rem;
  background: #fff;
}
@media screen and (max-width: 799px) {
  .c-case__job {
    padding: 0.4rem;
  }
}
.c-case__name {
  padding: 0.6rem 1.4rem;
  background: #fff;
  flex: 1;
}
@media screen and (max-width: 799px) {
  .c-case__name {
    padding: 0.4rem;
  }
}
.c-case__result {
  margin-top: 1.1rem;
  padding: 0.7rem 1.4rem;
  background: #fff;
  width: 100%;
}
@media screen and (max-width: 799px) {
  .c-case__result {
    padding: 0.4rem;
  }
}

.c-process__title {
  padding-top: 5.7rem;
}
.c-process__list {
  margin-top: 4.6rem;
}
.c-process__item {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  height: 100%;
  max-height: 6.4rem;
  margin-top: 0.8rem;
  background: #f8f8f8;
}
@media screen and (max-width: 799px) {
  .c-process__item {
    display: block;
    max-height: none;
    padding: 1rem;
  }
}
.c-process__item:first-child {
  margin-top: 0;
}
.c-process__number {
  width: 6.4rem;
  height: 6.4rem;
  background: #F5A623;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  line-height: 6.4rem;
  flex-shrink: 0;
}
@media screen and (max-width: 799px) {
  .c-process__number {
    display: block;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.4rem;
  }
}
.c-process__item-name {
  width: 100%;
  max-width: 19.5rem;
  margin-left: 2.1rem;
  font-size: 1.8rem;
  font-weight: bold;
}
@media screen and (max-width: 799px) {
  .c-process__item-name {
    font-size: 1.6rem;
    max-width: 12rem;
    margin-left: 0;
    max-width: none;
    margin-top: 1.4rem;
  }
}
.c-process__border {
  width: 0.1rem;
  height: 2.9rem;
  background: #C3C3C3;
}
@media screen and (max-width: 799px) {
  .c-process__border {
    display: none;
  }
}
.c-process__item-description {
  margin-left: 5.35rem;
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .c-process__item-description {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.c-faq__title {
  text-align: center;
}
.c-faq__contents {
  margin-top: 2.5rem;
}
.c-faq__hr {
  margin: 1.6rem 0;
  color: #1B224C;
}
.c-faq__hr:first-child {
  margin-top: 0;
}
.c-faq__q-text {
  font-size: 1.5rem;
  padding: 1.2rem 0;
}
.c-faq__a-text {
  font-size: 1.6rem;
  padding: 2.3rem 2.6rem;
}
.c-faq__question {
  cursor: pointer;
}
.c-faq__question:hover {
  background: #eee;
}
.c-faq__answer {
  background: #F8F8F8;
  margin-top: 0.8rem;
}

.c-blog {
  /* item --------------------*/
  /* img --------------------*/
  /* contents --------------------*/
}
.c-blog__inner {
  width: 100%;
  max-width: 43rem;
}
.c-blog__title {
  margin-bottom: 3.4rem;
}
.c-blog__item {
  margin-bottom: 3.1rem;
}
@media screen and (max-width: 799px) {
  .c-blog__item {
    margin-bottom: 4rem;
  }
}
.c-blog__img-box {
  width: 100%;
  max-width: 15rem;
  height: 0;
  padding-bottom: 10.95rem;
  margin-right: 2rem;
}
@media screen and (max-width: 799px) {
  .c-blog__img-box {
    max-width: none;
    padding-bottom: 73%;
  }
}
.c-blog__tag {
  padding: 0.6rem 0.9rem;
  font-size: 1.2rem;
}
.c-blog__contents {
  justify-content: space-between;
}
.c-blog__description {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.75;
  text-decoration: underline;
  margin-top: -0.6rem;
}
@media screen and (max-width: 799px) {
  .c-blog__description {
    margin-top: 1rem;
  }
}
.c-blog__date {
  font-size: 1.2rem;
}
@media screen and (max-width: 799px) {
  .c-blog__date {
    text-align: right;
  }
}

@media screen and (max-width: 799px) {
  .c-news {
    padding-bottom: 4rem;
  }
}
.c-news__inner {
  margin-left: 6.7rem;
}
@media screen and (max-width: 799px) {
  .c-news__inner {
    margin-left: 0;
    margin-top: 5rem;
    padding: 1rem;
    background: #f9f9f9;
  }
}
.c-news__title {
  margin-bottom: 3.3rem;
}
.c-news__item {
  margin-bottom: 1.4rem;
}
.c-news__item:hover {
  background: #eee;
}
.c-news__date {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 799px) {
  .c-news__date {
    padding: 1rem 0;
    margin-bottom: 0;
  }
}
.c-news__description {
  padding-bottom: 4.3rem;
  font-size: 1.6rem;
  text-decoration: underline;
}
@media screen and (max-width: 799px) {
  .c-news__description {
    padding: 1rem 0;
  }
}

.p-home__main-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8.6rem;
  text-align: center;
  color: #fff;
  background: url("../img/fv.jpg") center center/cover;
}
@media screen and (max-width: 799px) {
  .p-home__main-view {
    height: calc(100vh - 6rem);
    justify-content: center;
  }
}
.p-home__catch-copy {
  background: #1B224C;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.p-home__concept {
  padding-bottom: 3.9rem;
}
.p-home__case {
  background: #1B224C;
  padding-bottom: 6rem;
}
.p-home__process {
  padding-bottom: 7.5rem;
}
.p-home__faq {
  padding-bottom: 7rem;
}
.p-home__archives {
  display: flex;
  padding-bottom: 9rem;
}
@media screen and (max-width: 799px) {
  .p-home__archives {
    display: block;
    padding-bottom: 0;
  }
}

.p-price__plans {
  padding-bottom: 6.2rem;
}

.p-archives {
  padding-bottom: 4.5rem;
}

.p-archive {
  /* contents
  ----------------------------*/
}
.p-archive__contents {
  padding-bottom: 6.5rem;
}
.p-archive__tag {
  margin-top: 6rem;
}
@media screen and (max-width: 799px) {
  .p-archive__tag {
    margin-top: 2rem;
  }
}
.p-archive__title {
  margin-top: 2.2rem;
  line-height: 1.5;
}
@media screen and (max-width: 799px) {
  .p-archive__title {
    margin-top: 1.8rem;
  }
}
.p-archive__img {
  margin-top: 2rem;
}
.p-archive__img--sub {
  margin-top: 3rem;
}
.p-archive__h2 {
  margin-top: 4rem;
}
@media screen and (max-width: 799px) {
  .p-archive__h2 {
    margin-top: 3rem;
  }
}
.p-archive__text {
  margin-top: 2.5rem;
}
@media screen and (max-width: 799px) {
  .p-archive__text {
    margin-top: 2rem;
  }
}
.p-archive__h3 {
  margin-top: 4.5rem;
}
@media screen and (max-width: 799px) {
  .p-archive__h3 {
    margin-top: 3.8rem;
  }
}
.p-archive__quote-area {
  margin-top: 4.4rem;
}
@media screen and (max-width: 799px) {
  .p-archive__quote-area {
    margin-top: 3rem;
  }
}
.p-archive__list {
  margin-top: 3rem;
}
.p-archive__link {
  margin-top: 5.8rem;
}
.p-archive__recommend {
  padding-bottom: 5rem;
}
.p-archive__relation {
  padding-bottom: 4.9rem;
}

.p-news {
  padding-bottom: 4.6rem;
}

.p-news-post {
  /* contents
  ----------------------------*/
}
.p-news-post__contents {
  padding-bottom: 6rem;
}
@media screen and (max-width: 799px) {
  .p-news-post__contents {
    padding-bottom: 4rem;
  }
}
.p-news-post__title {
  line-height: 1.75;
  margin-top: 5rem;
}
@media screen and (max-width: 799px) {
  .p-news-post__title {
    line-height: 1.5;
  }
}
.p-news-post__date {
  margin-top: 3.6rem;
  font-size: 1.6rem;
  text-align: right;
}
@media screen and (max-width: 799px) {
  .p-news-post__date {
    font-size: 1.4rem;
  }
}
.p-news-post__img {
  margin-top: 3rem;
}
.p-news-post__h2 {
  margin-top: 6rem;
}
.p-news-post__h3 {
  margin-top: 4.4rem;
}
.p-news-post__text {
  margin-top: 2.8rem;
}
.p-news-post__quote-area {
  margin-top: 4.4rem;
}
.p-news-post__list {
  margin-top: 3rem;
  margin-left: 1.4rem;
  max-width: 58rem;
}
.p-news-post__link {
  margin-top: 6rem;
  margin-left: 1.4rem;
}

.p-form {
  /* thanks --------------------------*/
}
.p-form__form-wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 8.2rem;
}
@media screen and (max-width: 799px) {
  .p-form__form-wrap {
    padding-bottom: 6rem;
  }
}
.p-form__message {
  margin-top: 5.4rem;
}
@media screen and (max-width: 799px) {
  .p-form__message {
    margin-top: 4rem;
  }
}
.p-form__label {
  margin-top: 2rem;
}
.p-form__label:first-of-type {
  margin-top: 4.4rem;
}
.p-form__input {
  margin-top: 1.2em;
}
@media screen and (max-width: 799px) {
  .p-form__input {
    margin-top: 1rem;
  }
}
.p-form__select {
  margin-top: 1.8rem;
}
.p-form__select-label {
  margin-top: 1.3rem;
}
@media screen and (max-width: 799px) {
  .p-form__select-label {
    margin-top: 1rem;
  }
}
.p-form__select-input {
  margin-right: 1.6rem;
}
.p-form__select-label:first-child {
  margin-top: 2rem;
}
.p-form__textarea-label {
  margin-top: 2.2rem;
}
.p-form__textarea-input {
  margin-top: 1.2em;
}
@media screen and (max-width: 799px) {
  .p-form__textarea-input {
    margin-top: 1rem;
  }
}
.p-form__policy-text {
  margin-top: 3rem;
  text-align: center;
}
.p-form__policy-label {
  margin-top: 3rem;
  text-align: center;
}
.p-form__submit-button {
  margin-top: 4.4rem;
  display: flex;
  justify-content: center;
}
.p-form__thanks {
  padding-bottom: 8rem;
  text-align: center;
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .p-form__thanks {
    padding-bottom: 4rem;
    font-size: 1.4rem;
  }
}
.p-form__thanks-message {
  margin-top: 7.8rem;
  line-height: 1.7;
}
@media screen and (max-width: 799px) {
  .p-form__thanks-message {
    margin-top: 5rem;
  }
}
.p-form__thanks-link {
  display: inline-block;
  margin-top: 8.5rem;
}
@media screen and (max-width: 799px) {
  .p-form__thanks-link {
    margin-top: 6rem;
  }
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 999;
  /* logo */
  /* nav */
  /* reception */
  /* button */
  /*hamburger*/
}
.l-header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 8rem;
  padding: 15px 0;
  margin: 0 auto;
}
@media screen and (max-width: 799px) {
  .l-header__inner {
    height: 6rem;
  }
}
.l-header__logo {
  width: 13.6rem;
  margin-left: 1.5rem;
}
.l-header__nav--list {
  display: flex;
  font-size: 1.6rem;
}
.l-header__nav--item {
  margin-left: 2.8rem;
}
.l-header__reception {
  margin-left: auto;
  margin-right: 2.3rem;
  text-align: right;
}
.l-header__button {
  margin-right: 1rem;
}
.l-header__hamburger {
  margin-right: 2rem;
  margin-left: auto;
}

.l-body {
  margin-top: 8rem;
}
@media screen and (max-width: 799px) {
  .l-body {
    margin-top: 6rem;
  }
}

.l-container--1col {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}
@media screen and (max-width: 799px) {
  .l-container--1col {
    max-width: 60rem;
    padding: 0 1.2rem;
  }
}
.l-container--form {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
}
.l-container--2col {
  display: flex;
  max-width: 89.5rem;
  margin: 0 auto;
}
@media screen and (max-width: 799px) {
  .l-container--2col {
    display: block;
    max-width: none;
  }
}
.l-container--2col-main {
  width: 100%;
  max-width: 59rem;
  margin-right: 3.6rem;
}
@media screen and (max-width: 799px) {
  .l-container--2col-main {
    max-width: none;
    margin-right: 0;
    padding: 0 1.2rem;
  }
}
.l-container--2col-side {
  flex: 1;
  padding: 0 1.2rem;
}

.l-request {
  /* contents
  ------------------------------*/
  /* tell
  ------------------------------*/
}
.l-request__contents {
  background: url("../img/cta-1.jpg") center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}
.l-request__title {
  padding-top: 7rem;
  font-size: 3.2rem;
  color: #fff;
}
@media screen and (max-width: 799px) {
  .l-request__title {
    font-size: 2.4rem;
  }
}
.l-request__btn {
  margin-top: 2.1rem;
}
.l-request__link {
  padding-top: 2.2rem;
}
.l-request__tell {
  height: 100%;
  max-height: 8rem;
  line-height: 8rem;
}
@media screen and (max-width: 799px) {
  .l-request__tell {
    max-height: none;
    line-height: 1;
  }
}
.l-request__tell-inner {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
@media screen and (max-width: 799px) {
  .l-request__tell-inner {
    display: block;
    text-align: center;
    padding: 1rem;
  }
}
.l-request__tell-text {
  font-size: 1.6rem;
  margin-right: 2rem;
  text-align: right;
  flex: 1;
}
@media screen and (max-width: 799px) {
  .l-request__tell-text {
    margin-right: 0;
    font-size: 1.2rem;
    text-align: inherit;
  }
}
.l-request__tell-num {
  font-size: 3.7rem;
  margin-right: 2rem;
}
@media screen and (max-width: 799px) {
  .l-request__tell-num {
    margin-top: 1rem;
    margin-right: 0;
    font-size: 3.2rem;
  }
}
.l-request__tell-date {
  font-size: 1.6rem;
  flex: 1;
}
@media screen and (max-width: 799px) {
  .l-request__tell-date {
    margin-top: 0.8rem;
    font-size: 1.2rem;
  }
}

.l-footer {
  /* nav
  ------------------------------*/
  /* content
  ------------------------------*/
  /* copy write
  ------------------------------*/
}
.l-footer__contents {
  color: #fff;
  background: #1B224C;
  padding-bottom: 6.5rem;
}
@media screen and (max-width: 799px) {
  .l-footer__contents {
    padding-bottom: 4rem;
  }
}
.l-footer__inner {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 799px) {
  .l-footer__inner {
    display: block;
  }
}
.l-footer__nav-list {
  display: flex;
  align-items: center;
  margin-top: 4.55rem;
  font-size: 1.6rem;
}
@media screen and (max-width: 799px) {
  .l-footer__nav-list {
    display: block;
    padding-top: 2rem;
    margin-top: 0;
  }
}
.l-footer__nav-item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 799px) {
  .l-footer__nav-item {
    display: block;
    padding-top: 2rem;
    text-align: center;
  }
}
.l-footer__nav-link {
  padding-right: 2.1rem;
}
@media screen and (max-width: 799px) {
  .l-footer__nav-link {
    padding-right: 0;
  }
}
.l-footer__nav-item::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 2.3rem;
  background: #fff;
  margin-right: 2.5rem;
}
@media screen and (max-width: 799px) {
  .l-footer__nav-item::after {
    display: none;
  }
}
.l-footer__nav-item:last-child:after {
  display: none;
}
.l-footer__info {
  text-align: right;
  margin-right: -1.8rem;
}
@media screen and (max-width: 799px) {
  .l-footer__info {
    margin-right: 0;
    text-align: center;
  }
}
.l-footer__home-btn {
  width: 100%;
  max-width: 19.7rem;
  margin-top: 3.5rem;
  padding: 1.4rem 1.9rem 1.3rem;
  background: #fff;
}
@media screen and (max-width: 799px) {
  .l-footer__home-btn {
    margin-top: 4rem;
  }
}
.l-footer__home-btn img {
  width: 100%;
}
.l-footer__tel-num {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 2.7rem;
}
@media screen and (max-width: 799px) {
  .l-footer__tel-num {
    margin-top: 2rem;
  }
}
.l-footer__tel-num span {
  display: inline-block;
  width: 1rem;
  margin-right: 0.7rem;
}
.l-footer__tel-num span img {
  width: 100%;
}
.l-footer__tel-date {
  font-size: 1.2rem;
  margin-top: 1.3rem;
}
@media screen and (max-width: 799px) {
  .l-footer__tel-date {
    margin-top: 1rem;
  }
}
.l-footer__cw-text {
  margin-right: -1.8rem;
  padding: 1.2rem 0;
  font-size: 1.2em;
  text-align: right;
}
@media screen and (max-width: 799px) {
  .l-footer__cw-text {
    margin-right: 0;
  }
}

.u-top-view--price {
  background: url(../img/plan.jpg) center center/cover;
}
.u-top-view--blog {
  background: url(../img/blog.jpg) center center/cover;
}
.u-top-view--news {
  background: url(../img/news.jpg) center center/cover;
}
.u-top-view--contact {
  background: url(../img/cta.jpg) center center/cover;
}

.u-link {
  text-decoration: underline;
}
.u-link--orange {
  color: #F5A623;
}

@media screen and (min-width: 1280px) {
  .u-dn--pc {
    display: none;
  }
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
  .u-dn--tb {
    display: none;
  }
}
@media screen and (max-width: 799px) {
  .u-dn--sp {
    display: none;
  }
}

/* foundation
-------------------------------*/
/* object
-------------------------------*/
/* layout
-------------------------------*/
/*# sourceMappingURL=style.css.map */